.img-responsive {
    height: auto;
    width: auto;
    max-height: 25px;
}
main{
  min-height: 100vh;
}
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html{
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #282d33;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.remember input{
  box-shadow: none;
  
}
.post-img img{
  max-width:550px;
  max-height:300px;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.post-title{
  display: inline-block;
  margin-top: 5px;
}
.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.about-page{
  width :100%;
}

/* FOOTER */


.footer{
  display: block;
  overflow: hidden;
  padding: 30px;
  margin-top:2vh;
  box-sizing: border-box;
  background-color: #282d33;
  position: relative;
  left:0px;
  bottom:0px;
  height:165px;
  width:100%;
}

.inner_footer{
  display: flex;
  margin: 0 4%;
  width: 90%;
  height: 100%;
}

.inner_footer .logo_container{
  width: 35%;
  float:left;
  height: 100%;
  display:block;
}

.inner_footer .logo_container img{
  width: 20%;
  float:left;
  height: auto;
  display:block;
  margin-left: 50%;
}

.inner_footer .footer_third{
  float:right;
  width: calc(21.6666666667% -20px);
  margin-right:20px;
  float: left;
  height: 100%;
}

.inner_footer .footer_third:last-child{
  margin-right: 0;
}

.inner_footer .footer_third h3{
  font-family: 'arial';
  font-size: 20px;
  color:white;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.inner_footer .footer_third a{
  font-family: 'arial';
  font-size: 13px;
  color:white;
  display: block;
  font-weight: 200px;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.inner_footer .footer_third li{
  display: inline-block;
  padding: 0 0px;
  font-size: 20px;
}

.inner_footer .footer_third span{
  color: white;
  font-family: 'arial';
  font-size:14px;
  font-weight: 200;
  display: block;
  width:100%;

}

@media(max-width:600px){
  .footer .inner_footer{
    width:90%;

  }
  .inner_footer .logo_container,
  .inner_footer .footer_third{
    width: 100%;
    margin-bottom: 30px;
  }
}

body {
    overflow-x: hidden; //horizontal
}

/* Contact Seller Floater */
.contact-float{
  display:none;
  width: 20%;
  height: 15%;
  position: fixed;
  margin-left: 20%;
  margin-right: auto;
  margin-top:15%;
  background-color: white;
  box-shadow: 0px 0px 20px 10px #0000004d;
  border-radius: 8px;
}

.contact-btn{
  position: sticky;
  background-color: #333333;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
}
.contact-display{
  display:block;

}
.contact-exit{
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.contact-exit:hover {
  opacity: 1;
}
.contact-exit:before, .contact-exit:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.contact-exit:before {
  transform: rotate(45deg);
}
.contact-exit:after {
  transform: rotate(-45deg);
}
.float-content{
  text-align: center;
  margin: 10%;
  font-size: 15px;
  font-weight: 500;
}
