{% extends "layout.html" %}
{% block content %}
    <div class="content-section about-page">
    <h1>About</h1>
    <br>
    <h6>
    <p>Created by
    <ul>
        <li>Divij Pawar</li>
        <li>Prince Sah</li>
        <li>Janhavi Patil</li>
    </ul>
    XIE Switch is a local marketplace for your institution , starting from our college Xavier's Institute of Engineering.<br><b>Meet sellers and buyers
    </b>through are unique platform to help yourself <b>get rid of the old Books , scientific instruments ,calculators and other material you have.</b></h6> <br>
    <h5>Hop on the trend, Join us <a href="{{ url_for('register') }}">Now!</a></h5>
    </p>
    </div>
{% endblock content %}