{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{url_for('static',filename='profile_pics/' + post[7])}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post[6]}}</a>
              <small class="text-muted">{{ post[4].strftime('posted on %d %b %Y at %-I:%-M%p')}}</small>
            </div>
            <h2><a class="article-title" href="{{url_for('post',post_id=post[0])}}">{{ post[1] }}</a></h2>
            <p class="article-content">{{ post[5] }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}